PORT=5000
MONGO_URI=mongodb+srv://konkanibrijesh999_db_user:cRedbG4ry2QqXx5F@cluster0.sjcz6wz.mongodb.net/freshbasket2?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRE=7d
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
NODE_ENV=development
